.clients-list {
  text-align: left;
  width: 20em;
}

.clients-list li {
  list-style: none;
  border: 1px solid rgb(241, 196, 196);
  border-radius: 1%;
  margin: 1% 0;
  padding: 0.5em;
}

img {
  width: 2em;
  padding-right: 0.2em;
}

.clients-list p {
  font-size: 0.7em;
  color: rgb(243, 181, 224);
}
